<div class="registerForm">
  <form class="form-style" action="/wall" method="post">
    <label for="field1">
      <span>Email Address</span><input type="email" name="field1" required="true" />
    </label>
    <label for="field2">
      <span>Enter Your Password</span><input type="password" name="field2" required="true" />
    </label>
    <input type="submit" value="Login" />
    <a href="/">Register</a>
  </form>
</div>
