{{# if errors}}
  {{# each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}


<div class="registerForm">
  <form class="form-style" action="/users/register" method="post">
    <label for="firstName">
      <span>Enter Your Name</span><input type="text" name="firstName" required="true" />
    </label>
    <label for="lastName">
      <span>Enter Your Last Name</span><input type="text" name="lastName" required="true" />
    </label>
    <label for="email">
      <span>Email Address</span><input type="email" name="email" required="true" />
    </label>
    <label for="password">
      <span>Enter Your Password</span><input type="password" name="password" required="true" />
    </label>
    <input type="submit" value="Register" />
    <a href="/users/login">Login</a>
  </form>
</div>
