<div class="registerForm">
  <form class="form-style" action="/users/login" method="post">
    <label for="username">
      <span>Email Address</span><input type="email" name="username" required="true" />
    </label>
    <label for="password">
      <span>Enter Your Password</span><input type="password" name="password" required="true" />
    </label>
    <input type="submit" value="Login" />
    <a href="/">Register</a>
  </form>
</div>
