.messageReciver {
  background: #acc6e2;
  b{
    color: red;
  }
}


.chatBoxes{
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  right: 0;



  .chatBox{
    border: 1px solid #f2f2f2;
    width: 300px;
    height: 300px;
    margin: 0px 20px 0px 0px;
    .chatBoxTitle{
      border: solid #f2f2f2;
      border-width: 0px 0px 1px 0px;
      font-size: 18px;
      text-align: center;
      background: #e6e6e6;
      color: #4d4d4d;
      .fa{
        float: right;
      }
      button{
        margin: 0px;
        border: 0px;
        background: #e6e6e6;
      }
    }

    .chatBoxArchive{
      background: #FFF;

      overflow-x: auto;
      height: 270px;
      ul{
        padding: 0px 4px 30px 4px;
        margin: 0px;
        li{
          list-style: none;
          border: 1px solid #f2f2f2;
          padding: 0px 0px 4px 0px;
          border-width: 0px 0px 1px 0px;
          text-align: justify;
        }
      }

    }

    .chatBoxSendText{
      position: absolute;
      bottom: 0;
      border: solid #f2f2f2;
      border-width: 3px 0px 0px 0px;
      input{
        width: 298px;
        height: 30px;
        color: #83A4C5;
        border: 0px;
      }
    }
  }
}






.dropdown-menu {
  width: 300px;
  text-align: center;

  button{
    border: 0px;
    background: white;
  }
  button:hover{
    color: red;
  }
  p{
    font-weight: bold;
  }

  li:hover{
    background: #f2f2f2;
  }

}

.profile{
  width: 80%;
  font-size: 1.1em;
  margin: 2%;
  top: 10%;
  float: left;
}

.isFriendDiv {
  padding: 10px 0px 0px 0px;
}

.isFriend {
  border: 0px solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  background-color: #55acee;
}

.isFriend:active{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  background-color: #ff6666;
}

.addProfilePost {
  width: 60%;
  font-size: 1.1em;
  margin: 0px 0px 0px 5%;
  float: left;
}

.profilePosts {
  width: 60%;
  font-size: 1.1em;
  margin: 20px 0px 0px 5%;
  float: left;
}

.profilePost {
  float: left;
  background: #acc6e2;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  margin: 20px 0px 0px 0px;
  width: 100%;

  .postAuthor {
    padding: 0px 0px 30px 0px;

    p {
      text-align: left;
      padding: 13px 0px 0px 70px;
    }
  }

  .profilePostText{
    float: left;
    width: 100%;
    text-align: justify;
  }

  img {
    float: left;
    width: 50px;
    border: solid 1px #FFF;
  }
}

.profilePostOptions {
  float: left;
  margin: 20px 0px 0px 0px;
  .profilePostTime {
    font-size: 14px;
  }

  .liked{
    color: red;
  }
  button {
    border: 0px;
    background: none;

  }
}



.photo {
  background: #acc6e2;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  width: 30%;
  float: left;
  text-align: center;

  p {
    padding: 5px;
    font-style: italic;
    font-weight: bold;
  }

  i{
    font-family: monospace;
  }

  img {
    border: solid 1px #FFF;
    width: 100%;
  }
}
