#searchBox {
  width: 280px;
}

body {
  background-color:	#596f87;
}

//new notification
.new-notification::before {
  color: red;
}

//New post
.new-post-container {
  width: 80%;
  margin: 2%;
  top: 10%;
  float: left;
}

.postBtn {
  border: 0px solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  background-color: #55acee;
}

.postBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

textarea {
  width: 100%;
  height: 50px;
  background: #acc6e2;
  border-image: none;
  border-radius: 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  resize: none;
}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
    height: 200px;
}

//Friends List style

.friendsBox {
  position: fixed;
  right: 0;
  float: right;
  width: 85px;
  transition-duration: 1s;
  -webkit-transition-duration:1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 40px;

  li {
    text-decoration: none;
    list-style-type: none;
    border-top: 3px solid #53687E;
    border-left: 3px solid #53687E;
    border-bottom: 3px solid #53687E;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #acc6e2;
    padding: 8px 8px 8px 20px;
    font-size: 16px;
    font-weight: bold;
    i{
      color: white;
    }
  }

}

.friendsBox:hover{
  width: 350px;
  li:hover {
    background: #394D61;
    color: white;
  }
}

//Login and register forms styles
.form-style {
  width: 45%;
  font-size: 16px;
  background: #495C70;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  top: 50%;
  left: 50%;
  display: block;
  position: relative;
  margin-top: 10%; /* HALF OF THE HEIGHT */
  margin-left: -23%; /* HALF OF THE WIDTH */

}

.form-style a,
.form-style input[type=submit],
.form-style input[type=button],
.form-style input[type=text],
.form-style input[type=email],
.form-style input[type=password],
.form-style textarea,
.form-style label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.form-style label {
    display:block;
    margin-bottom: 10px;
}
.form-style label > span{
    display: inline-block;
    float: left;
    width: 35%;
}
.form-style input[type=text],
.form-style input[type=email],
.form-style input[type=password]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 100%;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 100%;
    overflow: hidden;
    resize:none;
    height:30px;
}

.form-style textarea:focus,
.form-style input[type=text]:focus,
.form-style input[type=email]:focus,
.form-style input[type=password]:focus
{
    border-bottom: 1px dashed #D9FFA9;
}
.form-style a,
.form-style input[type=submit],
.form-style input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    margin: 8px 0px 8px 0px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style a:hover,
.form-style input[type=submit]:hover,
.form-style input[type=button]:hover{
background: #394D61;
}
